---
import Mail from "./icons/Mail.astro";
import SocialPill from "./SocialPill.astro";
---

<div class="text-lg font-light items-center flex flex-col mb-24">
    <h1 class="text-3xl mb-8 text-center"><span class="mr-4 text-fuchsia-700">03.</span>Get In Touch</h1>
    <p class="text-center w-[70%] mb-8 font-extralight text-gray-500">Despite my current commitments, my inbox stands as a beacon, always ready for your messages. Whether you're curious, have a question, or just want to drop a friendly 'hello,' I'll navigate the waves to get back to you swiftly. Your messages light up my digital realm, and I'm excited to hear from you!</p>
    <SocialPill href="https://linkedin.com/in/XXX">
        <Mail class="size-4 md:size-6" />
         Sey Hello!
    </SocialPill>
</div>