---
import Mail from "./icons/Mail.astro";
import SocialPill from "./SocialPill.astro";
---

<div class="text-lg font-light items-center flex flex-col mb-24">
    <h1 class="text-3xl mb-8 text-center"><span class="mr-4">03.</span>Get In Touch</h1>
    <p class="text-center w-[60%] mb-8 font-extralight">Despite my current commitments, my inbox is always open. Whether you have a question or just want to say hi, I’ll try my best to get back to you!" Feel free to adjust the wording to better suit your preferences or convey the desired message.</p>
    <SocialPill href="https://linkedin.com/in/XXX">
        <Mail class="size-4 md:size-6" />
         Sey Hello!
    </SocialPill>
</div>