---
import AstroIcon from "./icons/Astro.astro";
---
<div class="text-center flex items-center justify-center">
    <p class="mr-2 text-sm">Made with ❤️ by Javi Sanchez - Powered by</p>
    <a href="https://www.astro.build/" target="_blank"><AstroIcon /></a>
</div>