---
import { Image } from "astro:assets";
import self from "../assets/images/self.jpg";

import LinkedInIcon from "./icons/LinkedIn.astro";
import SocialPill from "./SocialPill.astro";
import GitHubIcon from "./icons/GitHub.astro";
import MailIcon from "./icons/Mail.astro";
import CanvasReactComponent from "./CanvasReactComponent.astro";
---

<div class="flex mt-12 mb-8">
    <div class="w-[75%] pr-10 leading-6">
        <h1 class="mb-2 text-5xl font-semibold text-gray-900 dark:text-white">
            Javi <span class="text-gradient">Sanchez</span>
        </h1>
        <p
            class="mb-4 text-2xl font-extralight leading-none text-gray-400 dark:text-gray-500"
        >
            Web developer at <a href="https://veridas.com" target="_blank" class="text-fuchsia-700">Veridas</a>
        </p>
        <p class="mb-4 text-lg text-gray-500 dark:text-gray-400 font-extralight">
            As a passionate <span class=" text-fuchsia-700">software engineer</span>, I specialize in <strong class=" text-fuchsia-700">web</strong> technologies building digital user experiences. Currently, my focus revolves around developing <strong class=" text-fuchsia-700">computer vision</strong> solutions to make them more accessible, user-friendly, and to deliver exceptional experiences, particularly in the realm of <span class=" text-fuchsia-700">digital identity verification.</span>
        </p>
        <nav class="flex gap-4 mt-8 flex-wrap">
            <SocialPill href="https://linkedin.com/in/XXX">
                <LinkedInIcon class="size-4 md:size-6" />
                 LinkedIn
            </SocialPill>
            <SocialPill href="https://github.com/Tigreton-dev">
                <GitHubIcon class="size-4 md:size-6" />
                 GitHub
            </SocialPill>
            <SocialPill href="mailto:javier.san.mail@gmail.com">
                <MailIcon class="size-4 md:size-6" />
                 javier.san.mail@gmail.com
            </SocialPill>
        </nav>
    </div>
    <Image
        src={self}
        alt="A bird sitting on a nest of eggs."
        class="w-[25%] h-fit rounded-full border-2 border-fuchsia-900"
    />
</div>
<CanvasReactComponent client:load />

