---
import { Image } from "astro:assets";
import car from "../assets/images/car.webp";
import SocialPill from "./SocialPill.astro";
import GitHubIcon from "./icons/GitHub.astro";
import MailIcon from "./icons/Mail.astro";
---

<div class="mb-24">
    <h1 class="text-3xl mb-8"><span class="mr-4 text-fuchsia-700">02.</span>Things I’ve Built</h1>
    <div class="h-[300px] relative flex items-center mb-20">

            <Image
            src={car}
            alt="A bird sitting on a nest of eggs."
            class="h-[100%] w-fit border border-fuchsia-900 rounded-lg"
            />


    
    <div class="w-[60%] text-right right-0 absolute t-[50%]">
        <h3 class="mb-1 text-lg font-semibold text-gray-900 dark:text-white">Flowbite Application UI v2.0.0</h3>
    <time
        class="block mb-2 text-sm font-normal leading-none text-gray-400 dark:text-gray-500"
        >Released on January 13th, 2022</time
    >
    <p class="mb-4 text-base font-normal text-gray-500 dark:text-gray-400 bg-cyan-950 p-2 rounded-lg">
        Get access to over 20+ pages including a dashboard layout, charts,
        kanban board, calendar, and pre-order E-commerce & Marketing pages.
    </p>
    <ul class="flex text-sm justify-end">
        <li class="ml-6">VS Code</li>
        <li class="ml-6">Sublime Text</li>
        <li class="ml-6">Atom</li>
        <li class="ml-6">iTerm2</li>
        <li class="ml-6">Hyper</li>
    </ul>
    <nav class="flex gap-4 mt-4 flex-wrap justify-end">
        <SocialPill href="https://github.com/Tigreton-dev">
            <GitHubIcon class="size-2 md:size-4" />
             GitHub
        </SocialPill>
        <SocialPill href="mailto:javier.san.mail@gmail.com">
            <MailIcon class="size-4 md:size-4" />
             live demo
        </SocialPill>
    </nav>

    </div>
    </div>


    <div class="h-[300px] relative flex items-center mb-20">



<div class="w-[60%] text-left absolute t-[50%] z-10">
    <h3 class="mb-1 text-lg font-semibold text-gray-900 dark:text-white">Flowbite Application UI v2.0.0</h3>
<time
    class="block mb-2 text-sm font-normal leading-none text-gray-400 dark:text-gray-500"
    >Released on January 13th, 2022</time
>
<p class="mb-4 text-base font-normal text-gray-500 dark:text-gray-400 bg-cyan-950 p-2 rounded-lg">
    Get access to over 20+ pages including a dashboard layout, charts,
    kanban board, calendar, and pre-order E-commerce & Marketing pages.
</p>
<ul class="flex text-sm justify-start">
    <li class="mr-6">VS Code</li>
    <li class="mr-6">Sublime Text</li>
    <li class="mr-6">Atom</li>
    <li class="mr-6">iTerm2</li>
    <li class="mr-6">Hyper</li>
</ul>
<nav class="flex gap-4 mt-4 flex-wrap justify-start">
    <SocialPill href="https://github.com/Tigreton-dev">
        <GitHubIcon class="size-2 md:size-4" />
         GitHub
    </SocialPill>
    <SocialPill href="mailto:javier.san.mail@gmail.com">
        <MailIcon class="size-4 md:size-4" />
         live demo
    </SocialPill>
</nav>

</div>

<Image
src={car}
alt="A bird sitting on a nest of eggs."
class="h-[100%] w-fit border border-cyan-700 rounded-lg absolute right-0"
/>
</div>


<div class="h-[300px] relative flex items-center mb-20">

    <Image
    src={car}
    alt="A bird sitting on a nest of eggs."
    class="h-[100%] w-fit border border-cyan-700 rounded-lg"
    />



<div class="w-[60%] text-right right-0 absolute t-[50%]">
<h3 class="mb-1 text-lg font-semibold text-gray-900 dark:text-white">Flowbite Application UI v2.0.0</h3>
<time
class="block mb-2 text-sm font-normal leading-none text-gray-400 dark:text-gray-500"
>Released on January 13th, 2022</time
>
<p class="mb-4 text-base font-normal text-gray-500 dark:text-gray-400 bg-cyan-950 p-2 rounded-lg">
Get access to over 20+ pages including a dashboard layout, charts,
kanban board, calendar, and pre-order E-commerce & Marketing pages.
</p>
<ul class="flex text-sm justify-end">
<li class="ml-6">VS Code</li>
<li class="ml-6">Sublime Text</li>
<li class="ml-6">Atom</li>
<li class="ml-6">iTerm2</li>
<li class="ml-6">Hyper</li>
</ul>
<nav class="flex gap-4 mt-4 flex-wrap justify-end">
<SocialPill href="https://github.com/Tigreton-dev">
    <GitHubIcon class="size-2 md:size-4" />
     GitHub
</SocialPill>
<SocialPill href="mailto:javier.san.mail@gmail.com">
    <MailIcon class="size-4 md:size-4" />
     live demo
</SocialPill>
</nav>

</div>
</div>


</div>
